<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit paper</title>
</head>
<body>
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3"  data-aos="zoom-in" data-aos-duration="2000">
                    <p class="formTitle"><strong>Submit your Paper</strong></p>
                    <!-- <p>Fill all form field to go to next step</p> -->
                    <div class="row">
                        <div class="col-md-12 mx-0">

                            <form id="msform" [formGroup]="AthorSubmitPaper" (ngSubmit)="savePaper(AthorSubmitPaper)" novalidate>
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="step1" (click)="setprogressShowCounter(1)"><strong>step 1</strong></li>
                                    <li id="step2" (click)="setprogressShowCounter(2)"><strong>step 2</strong></li>
                                    <li id="step3" (click)="setprogressShowCounter(3)" ><strong>step 3</strong></li>
                                    <li id="step4"  (click)="setprogressShowCounter(4)"><strong>step 4</strong></li>
                                    <li id="step5" (click)="setprogressShowCounter(5)"><strong>step 5</strong></li>
                                    <li id="step6" (click)="setprogressShowCounter(6)"><strong>step 6</strong></li>
                                    <li id="step7" (click)="showData(AthorSubmitPaper);setprogressShowCounter(7)"><strong>step 7</strong></li>
                                </ul> <!-- fieldsets -->

                                <fieldset  *ngIf="progressShowCounter==1">
                                    <div class="card">
                                        <p  class="fs-title">Choose article type : </p >
                                            <select name="selectarticletype" id="selectarticletype" class="selectarticletype form-control" formControlName="articleType">
                                                <option value="Full manuscript">   Full manuscript </option>
                                                <option value="Review paper"> Review paper </option>
                                                <option value="Discution">  Discution </option>
                                            </select> 
                                    </div> <input type="button" name="next" class="next action-button" value="Next Step" (click)="formWizardIncreaze()"/>
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==2">
                                    <div class="card" formGroupName="attachFiles">
                                        <p  class="fs-title">Attach Files : </p >
                                        <input type="file" class="fileInputStyle form-control" formControlName="file1" accept=".pdf,.docx">
                                        <input type="file" class="fileInputStyle form-control" formControlName="file2" accept=".pdf,.docx">
                                        <input type="file" class="fileInputStyle form-control" formControlName="file3" accept=".pdf,.docx">
                                        <input type="file" class="fileInputStyle form-control" formControlName="file4" accept=".pdf,.docx">
                                    </div>
                                     <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                      <input type="button" name="next" class="next action-button" value="Next Step"  (click)="formWizardIncreaze()" />
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==3">
                                    <div class="card">
                                        <p  class="fs-title">General Information : </p >
                                            <input type="text" class="textInputStyle form-control" formControlName="GeneralInformationText1" placeholder="type text here">

                                            <textarea class="form-control textarea" rows="5" id="comment" placeholder="Write if “Other” chosen" formControlName="GeneralInformationText2"></textarea>
                                    </div> 
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                     <input type="button" name="next" class="next action-button" value="Next Step" (click)="formWizardIncreaze()" />
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==4">
                                    <div class="card" >
                                        <p  class="fs-title ReviewPreferences">Review preferences : </p >
                                            <div class="card">

                                                <input type="text" class="textInputStyle form-control" placeholder=" reviewer name" formControlName="reviewerName" >
                                                <input type="text" class="textInputStyle form-control" placeholder="current position" formControlName="reviewerJop" >
                                                <input type="text" class="textInputStyle form-control" placeholder="contact"  formControlName="contact" >
                                            
                                            </div>
                                            
                                            <div formArrayName="additionalReviewPreferences">
                                               <div  *ngFor="let item of additionalreview?.controls; let i=index ; " >
                                                    <div class="form-group card addReviewerStyle" [formGroupName]="i">
                                                        <span class="spanCancel bg-danger" (click)="cancel(i)"><p>x</p></span>
                                                        
                                                        <input type="text" class="textInputStyle form-control" placeholder="review name" formControlName="reviewerName" >
                                                        <input type="text" class="textInputStyle form-control" placeholder="current position" formControlName="reviewerJop" >
                                                        <input type="text" class="textInputStyle form-control" placeholder="contact "  formControlName="contact" >
                                                    
                                                    </div>
                                               </div>
                                               <div class="btnAdd">
                                                        <button class="btn btn-warning" type="button" (click)="addReviewer()"  id="btnAddProf"> add Reviewer </button>
                                                </div>
                                                <small class="text-danger morethan3" *ngIf="morethan3">3 Reviewers at most</small>
                                            </div>
                                    </div>

                                     <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                      <input type="button" name="next" class="next action-button" value="Next Step" (click)="formWizardIncreaze()" />
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==5">
                                    <div class="card" formGroupName="manuScriptData">
                                            <p  class="fs-title comments"> Manuscript data : </p>
                                            <input type="text" class="textInputStyle form-control" placeholder="Title " formControlName="title">
                                            <textarea type="text" class="textInputStyle form-control" placeholder=" Abstract (max 500 words) " rows="4" formControlName="Abstract"></textarea>
                                            <input type="text" class="textInputStyle form-control" placeholder=" Key Words " formControlName="KeyWords">
                                            <input type="text" class="textInputStyle form-control" placeholder=" Funding Information " formControlName="FundingInfo">
                                    </div>

                                     <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                      <input type="button" name="next" class="next action-button" value="Next Step" (click)="formWizardIncreaze()" />
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==6">
                                    <div class="card">
                                        <p  class="fs-title comments">Comments : </p >
                                            <textarea class="form-control textarea" rows="5" id="comment" placeholder="your comments (optional)" formControlName="comment"></textarea>
                                            <p  class="fs-title Payment">Payment : </p>
                                            <input type="number" class="textInputStyle form-control" placeholder="Enter the receipt number" formControlName="receiptnumber">
                                            <label for="note" class="labelnote">upload Photo</label>
                                            <input type="file" class="fileInputStyle form-control" accept=".pdf,.jpg,.png" formControlName="receiptPhoto">
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                      <input type="button" name="next" class="next action-button" value="Next Step" (click)="showData(AthorSubmitPaper);formWizardIncreaze()"/>
                                </fieldset>

                                <fieldset  *ngIf="progressShowCounter==7">
                                    <!-- <div class="card" *ngIf="checkSubmit">
                                        <h2 class="fs-title text-center">Success !</h2> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5>You Have Successfully Signed Up</h5>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="card submitData">
                                        <p class="submitTitle">This is your entered data :</p>

                                        <p class="submitItem"><b>Article Type :</b>{{data.articleType}}</p>

                                        <p class="submitGroubTiTle">Attached  Files :</p>
                                        <ul>
                                            <li class="submitItem"><b>File 1 :</b> {{data.file1}}</li>
                                            <li class="submitItem"><b>File 2 :</b> {{data.file2}}</li>
                                            <li class="submitItem"><b>File 3 :</b> {{data.file3}}</li>
                                            <li class="submitItem"><b>File 4 :</b> {{data.file4}}</li>
                                        </ul>

                                        <p class="submitGroubTiTle"> General Information :</p>
                                        
                                        <ul>
                                            <li class="submitItem">{{data.GeneralInformationText1}} </li>
                                            <li class="submitItem">{{data.GeneralInformationText2}}</li>
                                        </ul>
                                       

                                        <p class="submitGroubTiTle"> Reviewers :</p>

                                        <ul>
                                            <li class="submitItem"><b>Reviewer Name :</b>{{data.reviewerName}}</li>
                                            <li class="submitItem"><b>current position :</b>{{data.reviewerJop}}</li>
                                            <li class="submitItem"><b>contact :</b>{{data.contact}}</li>
                                        
                                            <div *ngIf="indexArrayReviwer!=0;">
                                                <div *ngFor="let item of data.additionalReviewers">
                                                    <li class="submitItem"><b>Reviewer Name :</b>{{item.reviewerName}}</li>
                                                    <li class="submitItem"><b>current position :</b>{{item.reviewerJop}}</li>
                                                    <li class="submitItem"><b>contact :</b>{{item.contact}}</li>
                                                </div>
                                            </div>
                                        </ul>
                                       
                                        
                                        <p class="submitGroubTiTle">Manuscript data :</p>
                                        <ul>
                                            <li class="submitItem"><b>Title :</b> {{data.title}}</li>
                                            <li class="submitItem"><b>Abstract :</b> {{data.Abstract}}</li>
                                            <li class="submitItem"><b>KeyWords :</b> {{data.KeyWords}}</li>
                                            <li class="submitItem"><b>FundingInfo :</b> {{data.FundingInfo}}</li>
                                        </ul>

                                        <p class="submitItem"><b>Comment :</b>{{data.comment}}</p>

                                        <p class="submitGroubTiTle">Payment :</p>
                                        <ul>
                                            <li class="submitItem"><b>Receipt Number:</b> {{data.receiptnumber}}</li>
                                            <li class="submitItem"><b>Receipt Photo: </b>{{data.receiptPhoto}}</li>
                                        </ul>

                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" (click)="formWizardDecrease()" />
                                    <input type="submit" class="btn btn-success" value="Submit Paper" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>