<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>revision waiting</title>
</head>
<body>
    <div class="col-12">
        <div class="col-sm-3" style="height: 1px;"></div>
        <div class="col-sm-6">
            <div class=" contant card" *ngFor="let item of revisionData">
                <p class="title"> </p>
                <p> <b>artical type</b> : {{item.articleType}}</p>
                <p><b>attached files : </b></p>
                <ul>
                    <li>file 1 : {{item.attachFiles.file1}} <span><a href="{{item.attachFiles.file1}}" download="file1"><img src="assets/download-pdf.png" *ngIf="item.attachFiles.file1 !='' && item.attachFiles.file1 !=undefined" class="pdfImg" alt="pdf img"></a></span></li>
                    <li>file 2 : {{item.attachFiles.file2}} <span><a href="{{item.attachFiles.file2}}" download="file1"><img src="assets/download-pdf.png" *ngIf="item.attachFiles.file2 !='' && item.attachFiles.file2 !=undefined" class="pdfImg" alt="pdf img"></a></span></li>
                    <li>file 3 : {{item.attachFiles.file3}} <span><a href="{{item.attachFiles.file3}}" download="file1"><img src="assets/download-pdf.png" *ngIf="item.attachFiles.file3 !='' && item.attachFiles.file3 !=undefined" class="pdfImg" alt="pdf img"></a></span></li>
                    <li>file 4 : {{item.attachFiles.file4}} <span><a href="{{item.attachFiles.file4}}" download="file1"><img src="assets/download-pdf.png" *ngIf="item.attachFiles.file4 !='' && item.attachFiles.file4 !=undefined" class="pdfImg" alt="pdf img"></a></span></li>
                </ul>
                    
                <p><b>General Information :</b></p>
                <ul>
                    <li>{{item.GeneralInformationText1}}</li>
                    <li>{{item.GeneralInformationText2}}</li>
                </ul>
        
                <p class="groupTitle"><b>Reviewers</b></p>
                <ul>
                    <li> reviewer Name : {{item.reviewerName}}</li>
                    <li>reviewer Jop : {{item.reviewerJop}}</li>
                    <li> contact : {{item.contact}}</li>
                    <div *ngFor="let subitem of item.additionalReviewPreferences" class="additionalReviewers">
                        <li *ngIf=" subitem.reviewerName != '' && subitem.reviewerName !=undefined  ">reviewer Name : {{subitem.reviewerName}}</li>
                        <li *ngIf=" subitem.reviewerJop != ''  && subitem.reviewerJop !=undefined ">reviewer Jop : {{subitem.reviewerJop}}</li>
                        <li *ngIf=" subitem.contact != ''  && subitem.contact !=undefined ">contact : {{subitem.contact}}</li>
                    </div>
                </ul>
                
                <p class="groupTitle"><b>Manuscript data</b></p>
                <ul>
                    <li><b>title :</b> {{item.manuScriptData.title}}</li>
                    <li><b>Abstract :</b> {{item.manuScriptData.Abstract}}</li>
                    <li><b>KeyWords :</b> {{item.manuScriptData.KeyWords}}</li>
                    <li><b>FundingInfo :</b> {{item.manuScriptData.FundingInfo}}</li>
                </ul>
        
                
                <p><b>Comments :</b> {{item.comment}}</p>
                <p><b>receipt number :</b> {{item.receiptnumber}}</p>
                <p><b>receipt Photo :</b> {{item.receiptPhoto}} <span><a href="{{item.receiptPhoto}}" download="receiptPhoto"><img src="assets/download-pdf.png" class="pdfImg" alt="pdf img"></a></span></p>
                
                <p><b>User Id :</b> {{item.userId}}</p>

                <br> <hr>
        
            </div>
        </div>
        
    </div>
</body>
</html>
