[class*="col-"]{
    float: left;
    box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
    div div .reviewerData{
        padding: 10px;
        padding-bottom: 40px;
    }

    div div div .title{
        font-size: 25px;
    }
    div div div .name{
        font-size: 20px;
    }
    div div div .job{
        font-size: 16px;
    }
    div div div .generalSpecialty{
        font-size: 16px;
    }
    div div div .Specialty{
        font-size: 16px;
    }
}


.static{
    position: fixed;
    top: 100px;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    background-color: white;
    z-index: 2;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: cadetblue;
    opacity: .85;
}


.card{
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: -2px -2px 5px rgb(203, 225, 252),2px 2px 5px rgb(206, 228, 255);
}

p{
    display: block;
}

.title{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    color: rgb(16, 16, 16);

}

.job{
    font-size: 18px;
    color: rgb(16, 16, 16);

}

.generalSpecialty{
    font-size: 18px;
    color: rgb(16, 16, 16);

}

.Specialty{
    font-size: 18px;
    color: rgb(16, 16, 16);
}