<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewer data</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

    <div class="col-12 static" *ngIf="loading">
        <b class="text-secondary">loading ... </b>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
    <div class="col-12">
        <div class="container text-center">
            <h1 class="title mt-4 text-info">{{Find_reviewersGroup.groupName}}</h1>

            <div class="col-12 text-center">
                <div class="col-sm-4" *ngFor="let item of Find_reviewersGroup.groupNameArray">
                    <div class="card">
                        <p class="name">{{item.name}}</p>
                        <p class="job">{{item.job}}</p>
                        <p class="generalSpecialty">{{item.generalSpecialty}}</p>
                        <p class="Specialty">{{item.Specialty}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>