<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"></head>
<body>

    <!-- the full  div -->
    <div class="col-12 fullViewDiv">

        <!-- empty div for making the form div in center -->
        <div class="col-sm-4" style="height: 1px;"></div>



        <!-- ----------the form total div start--------  -->
        <div class="col-sm-4" >

            <div class="loginFormDiv" data-aos="zoom-in" data-aos-duration="2000">

                <!-------------   the form code   ---------- -->
                <form [formGroup]="userLogin" (ngSubmit)="login()" class="card" novalidate>

                    <!-- the form title  -->
                    <h2 class="formTitle"> Sign In</h2>
                    
                    <!-- ------------------ email(input) with icon ------------- -->
                    <div class="form-group">
                        <!-- icon  -->
                        <span class="iconSpan"><i class="fa fa-user"></i> </span>
                       <!-- input -->
                        <span class="inputSpan"><input type="email" email class="inputStyle form-control" placeholder="Enter email" formControlName="email" [class.is-invalid]="email?.invalid && email?.touched"></span>
                        <br> <br><small class="alert-danger" *ngIf="email?.invalid && email?.touched">email is reqiured</small>
                    </div>
                    <!-- --------------------------------------------------------- -->

                    <!-- --------------- password(input) with icon -------------- -->
                    <div class="form-group">
                        <!-- icon -->
                        <span class="iconSpan"><i class="fa fa-lock"></i> </span>
                        <!-- input -->
                        <span class="inputSpan "><input type="password" class="inputStyle form-control" placeholder="Enter password" formControlName="password"  [class.is-invalid]="pass?.invalid && pass?.touched"></span>
                        <small class="alert-danger thealert" *ngIf="pass?.invalid && pass?.touched">password is reqiured</small>
                    </div>
                    <!-- --------------------------------------------------------- -->

                    <!-- the forget password link -->
                    <div class="forgot-pass"><a href="#">Forgot Password?</a></div>

                    <!-- submit button -->
                    <div class="btnSubmitDiv">
                        <button type="submit" class="btn btn-primary btnSubmit">login</button>
                    </div>

                  </form>
            </div>

        </div>
        
       

    </div>
</body>
</html>