[class*="col-"]{
    float: left;
    box-sizing: border-box;
}

// for taplet view 
@media only screen and (max-width: 999px) and (min-width:601px) {
    [class*="col-"]{
        width: 100%;
        padding: 0px;
    }
    div .col-sm-3{
        padding: 20px;
    }
    div .col-sm-3 .card{
        padding: 20px;
    }
    .container{
        margin: auto;
        width: 100%;
        padding: 10px;
        background: none;
    }
    .container .card{
        padding: 10px;
        margin-left: 6%;
    }
}

// for mobile view
@media only screen and (max-width: 600px) {
    [class*="col-"]{
        width: 100%;
        padding: 0px;
    }
    .container{
        padding: 0px;
        margin: 0px;
    }
    div .col-sm-3{
        padding: 5px;
        margin: 15px 0px;
        padding: 30px;
    }
    div .col-sm-3.card{
        margin: 15px 0px;
    }
    div .content{
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    div div .card{
        padding: 10px;
        margin-left: 0px;
    }
    div div .title{
        font-size: 20px;
    }
    div div .title::before{
        width: 130px;
        top: 70px;
    }
    div div div div .groubTitle{
        font-size: 17px;
    }
    div div div div div label{
        font-size: 14px;
    }
    div div div div div input[type="text"]{
        height: 30px;
    }
}


 //------------ container style --------------
 .container{
    // padding: 5%;
    padding-top: 2%;
 }
 .col-sm-3.card{
    padding: 20px 60px;
    margin-left: 6%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    height: 250px;
    box-shadow: -3px -3px 7px #ffffff73,
     4px 4px 5px rgb(199, 202, 206);
     display: flex;
     justify-content: center;
 }
 .col-sm-3.card img{
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-bottom: 10px;
    border-radius: 25px;
 }

.content{
    background-color: white;
    padding-bottom: 305px;
 }
 .bigTitle{
    font-family: 'Lobster', cursive;
    font-style: italic;
    padding-bottom: 40px;
    font-weight: 700;
 }
//------------------------------------------

input{
    margin-bottom: 10px;
}
button{
    margin: 5px;
}


.edit_deleteResearches{
    font-size: 15px;
    padding: 5px;
}