<div class="col-12 container">
    <h3 class="text-center text-warning bigTitle"> New Researches  &  Act With Users</h3>

    <div class="col-sm-3 card">
        <img src="assets/researches.png" alt="photo" id="view">
        <a routerLink="/new-researches"> <p class="card-title"> new researches</p> </a>
    </div>

    <div class="col-sm-3 card">
        <img src="assets/whitepaper.png" alt="photo" id="view UsersResearches">
        <a routerLink="/secert-approve"> <p class="card-title">  author’s approval</p> </a>
    </div>

    <div class="col-sm-3 card">
        <img src="assets/note.png" alt="photo" id="view UsersResearches">
        <a routerLink="/secert-sendingNotes"> <p class="card-title"> sending notes</p> </a>
    </div>

    <div class="col-sm-3 card">
        <img src="assets/research-result.png" alt="photo" id="view new-researchesPhoto">
        <a routerLink="/secert-research-result"> <p class="card-title"> research result</p> </a>
    </div>        

    <div class="col-sm-3 card">
        <img src="assets/complete.png" alt="photo" id="view new-researchesPhoto">
        <a routerLink="/secert-compeletedResearch"> <p class="card-title"> compeleted research</p> </a>
    </div>

    <div class="col-sm-3 card">
        <img src="assets/login.png" alt="photo" id="view ">
        <a routerLink="/secert-login"> <p class="card-title"> login</p> </a>
    </div>

    <div class="col-sm-3 card">
        <img src="assets/register.png" alt="photo" id="view ">
        <a routerLink="/secert-register"> <p class="card-title"> register</p> </a>
    </div>

</div>
