<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>

    <div class="col-12 container">

        <div class="col-sm-3 card" id="home" >
            <img src="assets/home.png" alt="photo">
            <a routerLink="/admin-settings/home"> <p class="card-title"> home data</p> </a>
        </div>

        <div class="col-sm-3 card" >
            <img src="assets/instructions.png" alt="photo">
            <a routerLink="/admin-settings/instructions"> <p class="card-title"> instructions </p> </a>
        </div>

        <div class="col-sm-3 card">
            <img src="assets/aim-goal.png" alt="photo">
            <a routerLink="/admin-settings/aim"> <p class="card-title"> aim data</p> </a>
        </div>

        <div class="col-sm-3 card">
            <img src="assets/about.png" alt="photo">
            <a routerLink="/admin-settings/about"> <p class="card-title"> about us </p> </a>
        </div>

        <div class="col-sm-3 card">
            <img src="assets/profile.png" alt="photo">
            <a routerLink="/admin-settings/profile"> <p class="card-title"> profile</p> </a>
        </div>

        <div class="col-sm-3 card">
            <img src="assets/who.png" alt="photo">
            <a routerLink="/admin-settings/board"> <p class="card-title"> editorial board</p> </a>
        </div>

    </div>

</body>
</html>

<!-- ----------------------- sidebar links ----------------------- -->

<!-- <div class="col-sm-3">
            <div class="sidebarTop"></div>
            <div class="sidebar">
                <a class="link" id="post" (click)="showPostDiv()"> Post </a>
                <a class="link" id="update" (click)="showUpdateDiv()"> update </a>
                <a class="link" id="delete" (click)="showDeleteDiv()">Delete</a>
                <a class="link" id="updateProfile" (click)="updateProfile()">update Profile Texts</a>
            </div>
    </div> -->

<!-- --------------------------------------------------------------- -->
