<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

</head>
<body>

    <div class="col-12 container">
        <div class="ModalButtons">
            <!-- --------- home header --------- -->
            <button type="button" class="btn btn-outline-warning btnModal" *ngIf="logo" data-toggle="modal" data-target="#updateLogo" (click)="setHeaderData()">
                Update Site Name & Logo
            </button>
            <button type="button" class="btn btn-outline-warning btnModal" *ngIf="logo" data-toggle="modal" data-target="#updateBackImage">
                update back image
            </button>
            <!-- -------------------------------- -->
            
            
            <!-- ------------------------ user profile --------------------- -->
            <!-- <button type="button" class="btn btn-outline-warning btnModal" *ngIf="profileCheck" data-toggle="modal" data-target="#profile" (click)="setProfileValue()">
                update profile
            </button> -->
            <!-- ----------------------------------------------------------- -->



            <!-- ------------------------ user profile --------------------- -->
            
            <!-- <button type="button" class="btn btn-outline-info btnModal" *ngIf="aboutCheck" data-toggle="modal" data-target="#about">
                add about us
            </button> -->
            
            <!-- ----------------------------------------------------------- -->

            
            <!-- ----------------------------------------------------------- -->


        </div>
        <hr>

        <!-- --------------------------------------------- divs to show data --------------------------------------------- -->
        
        <!-- ----------------------------- show header data & back image ------------------------- -->
        <div class="col-12">
            <div class="showHeader col-12">
                <span class="col-sm-4"><img [src]="headerDataObject.logoImg" alt="logo" class="logo"></span>                
                <span class="col-sm-4 journalname">{{headerDataObject.journalname}}</span>
            </div>
            <div class="col-12">
                <br> <br>
                <div class="text-center">
                        <h4 > Back Image  </h4>
                        <img [src]="backImageURL.backImage" alt="bsck image " class="logo" style="width: 300px; height: 300px ;">
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------- -->
        
        <!-- ----------------------------- show home data ------------------------- -->
        <!-- <div class="homeShow" *ngIf="showHome">
            <div class="col-12 viewBtns">
                <button class="btn btn-outline-dark" (click)="ViewCarsoul()">View Slider</button>
                <button class="btn btn-outline-dark" (click)="ViewData()">view Posts</button>
                <button class="btn btn-outline-dark" (click)="Viewpublished()">view Researches</button>
            </div>

            <h2 class=" col-12 text-center Basictitle pt-1 pb-3"> * show data *</h2>

            <div class="col-12" *ngIf="ViewCarsoulData">

                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Title</th>
                        <th scope="col" class="text-center">Update</th>
                        <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>

                    <tbody  *ngFor="let item of homeCarousel; let i=index;" >
                        <tr>
                        <th scope="row">{{i+1}}</th>
                        <td class="text-center"><img [src]="item.photourl" class=" rounded-lg" alt="photo" width="170px" height="80px"></td>
                        <td class=" text-center"><p class="carouselText" >{{item.title}} </p></td>
                        
                        <td class=" text-center"><button class="btn btn-warning" (click)="setUpdateID_carsoul(item.id!)"  data-toggle="modal" data-target="#updateCarsoul">Edit</button></td>
                        <td class=" text-center"><button class="btn btn-danger" (click)="swalDelete('delete_carsoul',item.id)"> X</button></td>
                        
                        </tr>
                    </tbody>
                    </table>
                    
            </div>

            <div class="col-12 text-center" *ngIf="ViewHomeData">
                
                <div class="container">
                    <div class=" dataContent">
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Image</th>
                                <th scope="col" class="text-center">Text</th>
                                <th scope="col" class="text-center"></th>
                                <th scope="col" class="text-center">Update</th>
                                <th scope="col" class="text-center">Delete</th>
                                </tr>
                            </thead>
    
                            <tbody  *ngFor="let item of homeData; let i=index;" >
                                <tr>
                                <th scope="row">{{i+1}}</th>
                                <td class="text-center"><img [src]="item.photourl" class=" rounded-lg" *ngIf="item.text !='' && item.text !=undefined " alt="photo" width="120px" height="100px"></td>
                                <td class=" text-center"><p class="discription" >{{item.text}} </p></td>
                                <td class=" text-center"><button class="btn btn-info" (click)="showData_image(item)"  data-toggle="modal" data-target="#show">Show</button></td>
                                <td class=" text-center"><button class="btn btn-warning" (click)="setUpdateID_Home(item.id!)"  data-toggle="modal" data-target="#updateHome">Edit</button></td>
                                <td class=" text-center"><button class="btn btn-danger"  (click)="swalDelete('delete_HomeData',item.id)"> X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center" *ngIf="ViewPublished">
                    <p class="reviewLinksTitle"> * Published Volumes *</p>
                    <div class="col-12 reviews" *ngFor="let item of publishReviews; let i=index;">
                        <a routerLink="/research-collection/{{item.id}}">{{item.id}}</a>
                    </div>
            </div>
            
        </div> -->
        <!-- ---------------------------------------------------------------------- -->
        
        <!-- ----------------------------- show instructions data ------------------------- -->
        <!-- <div class="col-12"  *ngIf="showAddInstructions">
            <div *ngFor="let item of instructionsArray; let i=index;" >
                <h1 id="mainTextH1" *ngIf=" i==0" >INSTRUCTIONS TO AUTHORS  <a href="{{instructionsFileURL}}" download="instructions"><img src="assets/download-pdf.png" class="pdfImg" alt="pdf img"></a></h1> 
            </div>
    
            <div class="col-sm-1" style="height: 10px;"></div>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Title</th>
                        <th scope="col" class="text-center">Text</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center">Update</th>
                        <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>
    
                    <tbody *ngFor="let item of instructionsArray; let i=index;" >
                        <tr>
                        <th scope="row">{{i+1}}</th>
                        <td class="Basictitle text-center"><p class="pt-1" >{{item.title}} </p></td>
                        <td class="text text-center"><p class="pt-1 text" >{{item.text}} </p></td>
                        <td class=" text-center"><button class="btn btn-info" (click)="showData_image(item)"  data-toggle="modal" data-target="#show">Show</button></td>
                        <td class=" text-center"><button class="btn btn-warning" (click)="setInstructionID(item)"  data-toggle="modal" data-target="#updateInstruction">Edit</button></td>
                        <td class=" text-center"><button class="btn btn-danger" (click)="swalDelete('delete_Istructions',item)"> X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> -->
        <!-- ---------------------------------------------------------------------------- -->
        
        <!-- ----------------------------- show board data ------------------------- -->
        <!-- <div class="boardShow col-12 text-center" *ngIf="showBoard">
            <h1 id="mainTextH1">Editorial Board</h1>
            <div class="col-12">
                <button class="btn btn-outline-dark" (click)="viewBoard()">Board Data</button>
                <button class="btn btn-outline-dark"(click)="viewBoardReviewer()">Board Reviewers</button>
            </div>

            <div class="col-12 text-center">

                <div class="col-sm-1" style="height:10px"></div>

                <div class="col-sm-10 reviewersDiv" data-aos="fade-up" data-aos-duration="2500" *ngIf=" ViewBoardreviewerData ">
                    <div *ngFor="let item of boardReviewersArray ; let i=index;">
                        
                        <p class="reviewer  col-12">* {{item.groupName}} *
                            <span>
                                <button class="btn btn-warning btn-update" style="float: right; margin-top:0;" (click)="setboardReviewersGroup(item)"  data-toggle="modal" data-target="#updateBoardReviewerGroup">Edit</button>
                                <button class="btn btn-danger btn-delete" (click)="swalDelete('delete_ReviewersGroup',item)">X</button>
                            </span>
                        </p>

                        <table class="table table-striped col-12">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">name</th>
                                <th scope="col" class="text-center">job</th>
                                <th scope="col" class="text-center">generalSpecialty</th>
                                <th scope="col" class="text-center">Specialty</th>
                                <th scope="col" class="text-center">Update</th>
                                <th scope="col" class="text-center">Delete</th>
                                </tr>
                            </thead>

                            <tbody  *ngFor="let temp of item.groupNameArray; let i=index;" >
                                <tr>
                                    <th scope="row">{{i+1}}</th>
                                    <td class=" text-center"><p class="Basictitle pt-3">{{temp.name}} </p></td>
                                    <td class=" text-center"><p class="text pt-1">{{temp.job}} </p></td>
                                    <td class=" text-center"><p class="text pt-1">{{temp.generalSpecialty}} </p></td>
                                    <td class=" text-center"><p class="text pt-1">{{temp.Specialty}} </p></td>

                                    <td><button class="btn btn-warning btn-update" (click)="setBoardReviewer(temp,item.groupName!)"  data-toggle="modal" data-target="#updateBoardReviewer">Edit</button> </td> 
                                    <td><button class="btn btn-danger btn-delete" (click)="swalDelete('delete_Reviewer',temp)">X</button></td>
                                </tr>
                            </tbody>
                        </table> 

                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="col-sm-1" style="height:10px"></div>
                <div class="col-sm-10" *ngIf="ViewBoardData">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Title</th>
                            <th scope="col" class="text-center">Text</th>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-center">Update</th>
                            <th scope="col" class="text-center">Delete</th>
                            </tr>
                        </thead>

                        <tbody  *ngFor="let item of boardArray; let i=index;" >
                            <tr>
                            <th scope="row">{{i+1}}</th>
                            <td class=" text-center"><p class="Basictitle pt-1">{{item.title}} </p></td>
                            <td class=" text-center"><p class="text pt-1">{{item.text}} </p></td>
                            <td class=" text-center"><button class="btn btn-info" (click)="showData_image(item)"  data-toggle="modal" data-target="#show">Show</button></td>
                            <td class=" text-center"><button class="btn btn-warning" (click)="setBoard(item)"  data-toggle="modal" data-target="#updateBoard">Edit</button></td>
                            <td class=" text-center"><button class="btn btn-danger" *ngIf="item.title!='' && i>0" (click)="swalDelete('delete_Board',item)"> X</button></td>
                            </tr>
                        </tbody>
                        </table> 

                </div>
            </div>
            
        </div> -->
        <!-- ----------------------------------------------------------------------- -->

        <!-- ----------------------------- show profile data ------------------------- -->
        <!-- <div class="col-12" *ngIf="profileCheck">
            <h3 class="text-center profileText">{{profileSettingsObject.text1}}</h3>
            <h3 class="text-center profileText">{{profileSettingsObject.text2}}</h3>
            <h3 class="text-center profileText">{{profileSettingsObject.text3}}</h3>
            <hr>
            <h3 class="text-center profileText">{{profileSettingsObject.text4}}</h3>
            <h3 class="text-center profileText">{{profileSettingsObject.text5}}</h3>
            <hr>
            <h3 class="text-center profileText">{{profileSettingsObject.text6}}</h3>
            <hr>
        </div> -->
        <!-- ----------------------------------------------------------------------- -->
        
        <!-- ----------------------------- show about data ------------------------- -->
        <!-- <div class="aimShow col-12"  *ngIf="aboutCheck">
            <h2 class=" col-12 text-center Basictitle pt-1 pb-2"> * about * </h2>

            <div class="col-sm-1" style="height: 1px;"></div>
            <table class="table col-sm-10 table-striped">
                <thead>
                    <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Big Title</th>
                    <th scope="col" class="text-center">Side Title</th>
                    <th scope="col" class="text-center">Text</th>
                    <th scope="col" class="text-center">Update</th>
                    <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>

                <tbody  *ngFor="let item of aboutArray; let i=index;" >
                    <tr>
                    <th scope="row">{{i+1}}</th>
                    <td class="text-center"><p class="Basictitle pt-2" style="font-size: 22px;" >{{item.BigTitle}} </p></td>
                    <td class=" text-center"><p class="text pt-2" style="font-weight: 600;">{{item.sideTitle}} </p></td>
                    <td class=" text-center"><p class="text pt-2" >{{item.text}} </p></td>
                    <td class=" text-center"><button class="btn btn-warning" (click)="setAbout(item)"  data-toggle="modal" data-target="#aboutUpdate">Edit</button></td>
                    <td class=" text-center"><button class="btn btn-danger" (click)="swalDelete('delete_About',item)"> X</button></td>
                    </tr>
                </tbody>
                </table>
        </div> -->
        <!-- --------------------------------------------------------------------- -->

        
        <!-- ------------------ show support ----------------- -->
        <!-- <div class="col-12" *ngIf="support_Check">
            <h3 class="text-center col-12 text-center Basictitle pt-2 pb-4"> support messages</h3>
            <div class="col-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">User Name</th>
                        <th scope="col" class="text-center">Text</th>
                        <th scope="col" class="text-center">User ID</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>
    
                    <tbody  *ngFor="let item of supportArray; let i=index;" >
                        <tr>
                        <th scope="row">{{i+1}}</th>
                        <td class=" text-center"><p class="Basictitle pt-2" >{{item.userName}} </p></td>
                        <td class=" text-center"><p class="text pt-1" >{{item.text}} </p></td>
                        <td class=" text-center"><p class="text pt-1" >{{item.userId}} </p></td>
                        <td class=" text-center"><button class="btn btn-info" style="margin-top: 0px;" (click)="showData_image(item)"  data-toggle="modal" data-target="#show">Show</button></td>
                        <td class=" text-center"><button class="btn btn-danger" style="margin-top: 0px;" (click)="swalDelete('delete_Support',item)"> X</button></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div> -->
        <!-- --------------------------------------- -->


        <!-- ------------------------ add & update contact with modal button---------------------------- -->
        <!-- <div class="col-12" *ngIf="contact_Check">
            <h2 class=" col-12 text-center Basictitle pt-2 pb-4"> * contact * </h2>
            <div class=" text-center ">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addContact" (click)="SetAddContact()">
                    add contact
                </button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">Text</th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">Update</th>
                    <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>

                <tbody  *ngFor="let item of contactArray; let i=index;" >
                    <tr>
                    <th scope="row">{{i+1}}</th>
                    <td class=" text-center"><p class="Basictitle pt-2" >{{item.sideTitle}} </p></td>
                    <td class=" text-center"><p class="text pt-2" >{{item.text}} </p></td>
                    <td class=" text-center"><button class="btn btn-info" (click)="showData_image(item)"  style="margin-top: 0px; " data-toggle="modal" data-target="#show">Show</button></td>
                    <td class=" text-center"><button class="btn btn-warning" (click)="setUpdateContact(item)" style="margin-top: 0px;" data-toggle="modal" data-target="#addContact">Edit</button></td>
                    <td class=" text-center"><button class="btn btn-danger"  (click)="swalDelete('delete_Contact',item)" style="margin-top: 0px;"> X</button></td>

                    </tr>
                </tbody>
            </table> 

        </div> -->

    </div>

</body>
</html>


    <!-- ------------------------------------ modals Div -------------------------------- -->
<div class="col-12">
    <div class="Modals">



        <!-- **************************************** update modals *************************************** -->

        <div class="updateDiv col-12">  
            <!-- ------------------------------ update logo & Title  ---------------------- -->
            <div class="modal fade" id="updateLogo">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"> 
                         <p class="groubTitle">update site name & title</p>
                      </h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                       <form [formGroup]="headerData" (ngSubmit)="updateHeader()">
                            <input type="text" class="form-control" formControlName="journalname" placeholder="Journal Name">
                            <input type="file" class="form-control" formControlName="logoImg" accept=".jpg , .png" (change)="uploadLogo($event)">
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-warning"> update</button>
                            </div>
                        </form>
                    </div>
    
                  </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------ -->

            <!-- ------------------------------ update home  ---------------------- -->
            
            <!-- update bg image -->
            <div class="modal fade" id="updateBackImage"  tabindex="-1">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                    <!-- post Instructions -->
                        <div class="postInstructions card col-12">
                            <p class="groubTitle text-warning">update background image</p>
                            <form [formGroup]="backImage" (ngSubmit)="updatebackImage()">
                                    <input type="file" accept=".jpg , .png" class="form-control" placeholder="choose file" (change)="uploadbackImage($event)">
                                <div class="submit">
                                    <button class="btn btn-warning submitInstructions" type="submit"> update </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
            
                </div>
                </div>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            

           

            <!-- --------------------------------------- update Board ---------------------------- -->
            <div class="modal" id="updateBoard">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- post Board -->
                            <div class="postBoard card col-12">
                                <p class="groubTitle">update Board Content</p>
                                <form [formGroup]="board" (ngSubmit)="updateBoard()">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Board Title" formControlName="title">
                                    </div>
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" rows="7" placeholder="Enter Board Text" formControlName="text"></textarea>
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-warning" type="submit"> update </button>
                                        <!-- <button class="btn btn-outline-primary btnAdd" type="button"> add </button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div> -->
                
                    </div>
                </div>
            </div>

            <div class="modal" id="updateBoardReviewer">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- post Board -->
                            <div class="postBoard card col-12">
                                <p class="groubTitle">Update Board reviewer</p>
                                <form [formGroup]="editReviewer" (ngSubmit)="updateBoardReviewer()">
                                    
                                    <div class="card">
                                        <input type="text" class="form-control text-center font-weight-bold text-warning bg-dark" formControlName="groupName">
                                        <input type="text" class="form-control" formControlName="name">
                                        <input type="text" class="form-control" formControlName="job">
                                        <input type="text" class="form-control" formControlName="generalSpecialty">
                                        <input type="text" class="form-control" formControlName="Specialty">
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-warning" type="submit"> update </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>

            <div class="modal" id="updateBoardReviewerGroup">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- post Board -->
                            <div class="postBoard card col-12">
                                <p class="groubTitle">Update Board reviewer</p>
                                <form [formGroup]="boardReviewers" (ngSubmit)="editReviewersGroup()">
                                    
                                    <div class="card">
                                        <input type="text" class="form-control text-center" formControlName="groupName">
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-warning" type="submit"> update </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            
            <!-- ----------------------------------------------------------------------------------- -->

            <!-- ----------------------------------- update about ------------------------------------ -->
            <div class="modal" id="aboutUpdate">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!-- post Board -->
                            <div class="updateProfile card col-12">
                                <p class="groubTitle">update profile settings</p>
                                <form [formGroup]="about" (ngSubmit)="aboutUpdate()">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="big title " formControlName="BigTitle">
                                        <input type="text" class="form-control" placeholder="side title" formControlName="sideTitle">
                                        <input type="text" class="form-control" placeholder="text" formControlName="text">
                                    </div>

                                    <div class="submit">
                                        <button class="btn btn-warning" type="submit"> update </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div> -->
                
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------ -->

        </div>

    </div>
</div>

<!-- div SHow Data -->
<div class="col-12">
    <div class="modal fade " id="show" aria-labelledby="show" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Show Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="Basictitle text-center" style="font-size: 20px;" *ngIf="showItem_TiTle!=''">{{showItem_TiTle}}</p>
                <img class="imageModalShow" [src]="showItem_Photo" alt="showItem_Photo" *ngIf="showItem_Photo!=null" align="left">
                <span class="text-center">{{showItem_Text}}</span>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
</div>