[class*="col-"]{
    float: left;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    div #mainTextH1{
        font-size: 22px;
        text-align: center;
        padding: 0px;
        padding-top: 15px;
    }

    div #mainTextP{
        padding: 0px;
        padding-left: 12px;
        font-size: 16px;
    }

    div .reviewersDiv{
        padding: 10px;
    }
    div h2{
        font-size: 21px;
        text-align: center;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 2px;
    }
    div p{
        padding: 0px;
        padding-left: 12px;
        font-size: 16px;
    }

}

.col-12{
   margin-bottom: 200px;
   scroll-behavior: smooth;
}

.static{
    position: fixed;
    top: 100px;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    background-color: white;
    z-index: 2;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: cadetblue;
    opacity: .8;
}


#mainTextH1{
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    animation-name: aimShow;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    color: rgb(13, 115, 178);
    font-size: 32px;
}
@keyframes aimShow{
    from {opacity: 0;}
    to {opacity: 1;}
}

#mainTextP{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
    font-size: 22px;
    // font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Tapestry', cursive;
    animation-name: P;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;

}
@keyframes P{
    from {opacity: 0; margin-top: -40px;}
    to {opacity: 1;}
}

.reviewersDiv{
    padding-top: 70px;
    padding-bottom: 70px;
}
.reviewersDiv a{
    text-align: center;
    font-weight: 700;
}
h2{
    padding-top: 30px;
    width: 100%;
    color: rgb(13, 115, 178);
    padding-left: 1%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

p{
    padding: 5px 2%; 
    padding-left: 10px;
    font-size: 21px;
    // font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Tapestry', cursive;
}
.reviewer{
    padding: 5px 2%; 
    font-size: 20px;
    // font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Tapestry', cursive;
}
.reviewer:hover{
    color: blue;
}