<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="col-12 footer">
        
        <div class="col-12 links">
            <div class="col-3" style="height: 1px;"></div>
            <div class="col-2"><a href="#">about us</a></div>
            <div class="col-2"><a href="#"> support</a></div>
            <div class="col-2"><a href="#">contact</a></div>
        </div>

        <div class=" col-12 icons ">
            <div class="col-3" style="height: 1px;"></div>

            <div class="col-2 div1"><i class="material-icons icon forStyle">help</i></div>
            <div class="col-2 div4"><i class="material-icons icon">build</i> </div>
            <div class="col-2 div4"><i class="material-icons icon">cloud_upload</i></div>
    
        </div>
        
    </div>
</body>
</html>