[class*="col-"]{
    float: left;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    div #mainTextH1{
        font-size: 19px;
        text-align: center;
        padding: 0px;
        padding-top: 15px;
    }

    div #mainTextP{
        padding: 0px;
        padding-left: 12px;
        font-size: 16px;
    }

    div h2{
        font-size: 20px;
        text-align: center;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 2px;
    }
    div p{
        padding: 0px;
        padding-left: 12px;
        font-size: 16px;
    }
    div .pdfImg{
        height: 35px;
        width: 30px;
        margin-left: 5px;
        padding-top: 5px;
        margin-top: -10px;
    }

}


.static{
    position: fixed;
    top: 100px;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    background-color: white;
    z-index: 2;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: cadetblue;
    opacity: .85;
}

.col-12{
   margin-bottom: 200px;
}

#mainTextH1{
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    animation-name: aimShow;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    color: rgb(13, 115, 178);
}
@keyframes aimShow{
    from {opacity: 0;}
    to {opacity: 1;}
}

#mainTextP{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    // font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Tapestry', cursive;
    animation-name: P;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;

}
@keyframes P{
    from {opacity: 0; margin-top: -40px;}
    to {opacity: 1;}
}

h2{
    padding-top: 30px;
    width: 100%;
    color: rgb(13, 115, 178);
    padding-left: 20%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 27px;
}

p{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    // font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Tapestry', cursive;
}
.pdfImg{
    height: 45px;
    width: 45x;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 15px;
}