<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <div class="col-12 userTop" *ngFor="let item of profileData">
            <img src="assets/profileIcon.png" alt="user profile" class="profileImage">
            <h1 class="uname">{{item.name}}</h1>
            <p class="otherData"> faculty : {{item.faculty}}</p>
            <p class="otherData"> phone : {{item.phone}}</p>
    </div>
    <div class="col-12 content">
        <p class="bigText">New submission</p>
        <ul>
            <li><a routerLink="/submitpaper">{{profileTexts.text1}}</a></li>
            <li><a href="/authorsapproval">{{profileTexts.text2}} </a></li>
            <li>{{profileTexts.text3}}<a href="/submissioncheck"> check </a></li>
        </ul>
        <p class="bigText">Revision</p>
        <ul>
            <li><a href="/revisionwaiting">{{profileTexts.text4}}</a></li>
            <li>{{profileTexts.text5}}<a href="/revisioncheck">check</a></li>
            
        </ul>
        <p class="bigText">Completed </p>
        <ul>
            <li><a href="/complete">{{profileTexts.text6}} </a></li>
        </ul>
    </div>
</body>
</html>