[class*="col-"]{
    float: left;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body .content{
        padding-bottom: 150px;
    }
    div .profileImage{
        width: 60px;
        height: 60px;
        padding: 5px;
    }
    div .uname{
        margin-top: 20px;
        font-size: 14px;
    }
    div .otherData{
        display: none;
    }
    div .bigText{
        font-size: 16px;
    }
    div ul li {
        font-size: 13px;
        font-weight: 700;
        margin-left: -10px;
    }
    div ul li a{
        font-size: 15px;
    }
}

.userTop{
    display: flex;
    justify-content: center;
}
.profileImage{
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 65px;
}
.uname{
    margin-top:55px;
    font-size: 30px;
    text-transform: capitalize;
}
.content{
    padding-left: 10%;
    padding-right: 10%;
}
.bigText{
    font-size: 25px;
    font-weight: bold;
}
ul li{
    font-size: 20px;
    font-weight: bold;
}
.otherData{
    margin-top:65px;
    margin-left:25px;
    font-size: 17px;
    font-weight: 600;
    color: gray;
    text-transform: capitalize;
}