[class*="col-"]{
    float: left;
    width: 100%;
}

@media only screen and (max-width: 770px) {
    // ********* carsoul style ********
    body .thecarousel{
        position: relative;
        margin-top: 0px;
    }
    .thecarousel div div .carouselText{
        font-size: 17px;
    }
    .thecarousel div div img{
        height: 200px;
    }
    //**********************************

    body .staticPhotoDiv{
        display: none;
    }
    body .content{
        position: relative;
        margin-top: 0px;
    }
    // *********************************

    div .reviewslinks{
        margin-bottom: 10px;
    }

    // ******* published papers ********
    
    div div .reviewLinksTitle{
        font-size: 17px;
    }

    div div .reviews a{
        font-size: 14px;
        font-weight: bold;
    }
    // **********************************

    // ************** data **************
    div div .dataContent{
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }

    div div .dataContent .discription{
        text-align: left;
        font-size: 14px;
        padding: 0px;
        padding-left: 10px;
    }

    div div .dataContent img{
        width: 100%;
        margin: 0px;
        height: 250px;
    }

    // ********************************



}


.static{
    position: fixed;
    top: 100px;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    background-color: white;
    z-index: 2;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: cadetblue;
    opacity: .85;
}


$basicColor:#465d7e;


.thecarousel{
    position:absolute;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 100px;
}

.carouselText{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Koulen', cursive;
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

// ******************* static photo **************
.staticPhotoDiv{
    position: fixed;
    z-index: -1;
    opacity: .2;
    margin-top: 120px;
    justify-content: center;
}
.staticImage{
    height: 330px;
    width: 330px;
    border-radius: 15px;
}
//******************************************

// ******************* home content ********************** 
.content{
    position: relative;
    margin-top: 500px;

}
.reviewLinksTitle{
    color: rgb(28, 94, 148);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.reviewslinks a{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.reviews a{
    font-size: 20px;
    font-weight: 600;
}
.reviews a:hover{
    color: blue;
}
.discription{
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    padding: 40px;
    padding-top: 25px;
}
.data{
    padding: 0px;
    padding-bottom: 50px;
}
.dataContent{
    // position: relative;
    display: block;
    padding: 0px;
    // justify-content: center;
}

.dataContent img{
    height: 350px;
    width: 100%;
    border-radius: 45px;
    padding: 25px 15px;

}