


.container{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.card{
    padding: 2px;
}
.btn-edit{
    margin-top: 20px;
}
.btn{
    margin-right: 20px;
}
input{
    margin: 5px 0px;
}